* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: white;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url('../images/fondecran.jpg');
    background-size: cover;
    background-position: center top -6rem;
    background-repeat: no-repeat;
    height: 95vh;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    text-align: center !important;
    margin: 3rem 8rem;

}

.title span {
    display: flex;
    text-transform: uppercase; 
    color: red;
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
}

.image1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    width: 15rem;
}

@keyframes scaleEffect {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
}

.animated-text span {
    display: inline-block;
    padding: 0 4px;
}

.pourquoi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 8rem;
    font-size: 1.5rem;
    text-align: center !important;
    list-style: none;
    
}

.pourquoi li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    height: 2rem;
}

.pourquoi svg {
    margin-right: 1rem;
}

.transition {
    display: flex;
    background-image: url('../images/camionPluie.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 25rem;
}

.titleTarif {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 8rem;
    font-size: 5rem;
    text-align: center;
}

.tarifs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    text-align: center;
}

.tarif {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    width: 19rem;
}

.imgCamion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 15rem;
    height: 10rem;
    background-size: cover;
    background-repeat: no-repeat;
}