{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/header.css') }}">
{% endblock %}
{% block body %}
<main>
    <ul class="nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</main>
{% endblock %}